html
  head
    title= `${conference.title} with Trello`
    script(
      src='https://code.jquery.com/jquery-3.2.1.min.js'
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"
    )
    link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
    link(href="/style.css" rel="stylesheet")
  body
    article
      h1= `${conference.title} with Trello`

      p Create a Trello board with the full conference schedule — for you and your teammates.
      p Use it to plan your sessions; record notes, photos and links; share with your whole team!

      if conference.image != null
        img#board(src=conference.image alt="Trello board")

      #error

      #loading Loading…

      button#trello_auth('data-name'=conference.title style='display: none') Connect to Trello

      #form(style='display: none')
        form(action='/' method='post')
          input#token(type='hidden' name='token')
          input#conference(type='hidden' name='conference' value=conference.name)
          div
            label(for='board_name') Create a Board called
            input#board_name(name='board_name' value=conference.title)
          div
            label(for='team') In your Trello Team
            select#teams(name='board_idOrg')
              option Loading…
          div
            button(type=submit) Create my conference board

      p.small This app will create a new board in your Trello account. It parses the <a href="#{conference.scheduleUrl}">conference schedule</a> and creates lists and cards for each session.

      p.small Your Trello account is not accessed in any other way, except to list your teams for the form above, and the authorization token lives only in your browser's localStorage.

      #signed_in(style:'display:none')
        p You are connected to Trello as:
        div
          img#avatar
          span#trello_name …
          button.inline#unauth Disconnect

    include _footer.pug

    script(src=`https://trello.com/1/client.js?key=${appKey}`)
    script(src='/index.js')
